body {
	background-color: peachpuff;
	margin: 0;
}

header {
	text-align: center;
}

section.ui {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-around;
	text-align: center;
}

section.ui h2 {
	border: 2px darkblue solid;
	border-radius: 1em;
	background-color: rgba(0, 0, 255, 0.8);
	color: #fff;
	padding: 3vh;
	text-align: center;
	cursor: pointer;
}

section#listContainer {
	width: 50%;
}

section.each-course {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-around;
	align-items: center;
}

form {
	margin-left: 10%;
}

form input[name="courseID"] {
	height: 5vh;
	font-size: 2vw;
	border-radius: 0.5em;
}

form input[name="display-button"] {
	height: 6vh;
	font-size: 2vw;
	border-radius: 0.5em;
	cursor: pointer;
}
