body {
	background-color: peachpuff;
	margin: 0;
}

header {
	text-align: center;
}

section.ui {
	display: grid;
	grid-template-columns: auto auto auto auto;
	justify-content: space-around;
	text-align: center;
}

section.ui h2 {
	border: 2px darkblue solid;
	border-radius: 1em;
	background-color: rgba(0, 0, 255, 0.8);
	color: #fff;
	padding: 3vh;
	text-align: center;
	cursor: pointer;
}

section#listContainer {
	width: 50%;
}

section.each-course {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-around;
	align-items: center;
}

section#input-container {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 5vh;
}
form input[name="courseID"],
form input#name-input {
	height: 5vh;
	font-size: 2vw;
	border-radius: 0.3em;
}

form input[name="display-button"],
form input#post-course {
	height: 6vh;
	font-size: 2vw;
	border-radius: 0.5em;
	cursor: pointer;
}

section.update,
section.delete {
	margin-top: 3vh;
	margin-left: 5%;
}
section form.section-update,
section form.section-delete {
	display: none;
}
form.section-update input,
form.section-delete input {
	padding: 0.5vw;
	font-size: 1.5vw;
	border-radius: 0.3em;
}

form.section-update label,
form.section-delete label {
	padding: 0.6vw;
	font-size: 1.5vw;
	background-color: darkblue;
	color: #fff;
	border-radius: 0.3em;
}
